.history-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem
}

#content img {
    width: 100%
}

article header h2 {
    margin-bottom: 1rem
}

#sidebar {
    padding: 1rem .5rem 0 .8rem
}

@media(max-width: 425px) {
    .history-container {
        display: block
    }

    #content {
        margin-top: 2rem
    }
}