.project-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
}

/* .img-gallery > div {
    height: 100%
} */

.img-gallery>div img {
    height: 100%;
    width: 100%
}

.border1 {
    border: 2px solid red !important
}

.fence-item {
    margin-top: 2rem
}

#sidebar {
    padding: 1rem .5rem 0 .8rem
}

.modal-content {
    height: auto
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85% !important;
    }
}

@media(max-width: 425px) {
    .project-container {
        display: block
    }

    .img-gallery {
        display: block;
    }

    .img-gallery>div {
        margin-bottom: .5rem;
        height: 175px
    }
}