
.service-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 2.5rem
}

#sidebar1, #sidebar2 {
    padding: 1rem .5rem 0 .8rem
}

article img, .fence-item img {
    width: 100%
}

.fence-item {
    margin-bottom: 1.5rem;
    font-size: .9rem
}

header h2 {
    margin-bottom: 1.3rem
}

@media (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media (max-width: 425px) {
    .service-container {
        display: block
    }
    #content {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
}