html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
/* Logo */

#nav img {
    margin-left: 4rem;
    margin-bottom: .5rem
}

/* navigation */

.nav-item, .logo-cont > div {
    display: flex;
}

.nav-item {
    padding: .5rem;
    margin-right: 1rem
}

.nav-item i {
    font-size: 2rem;
    margin: auto 1rem;
    color: #eea825
}

.nav-item h4 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin-bottom: 0rem;
    font-size: 1.2em
}

.nav-item span {
    font-family: 'Yeseva One', cursive;
    margin: 0;
    font-size: 1rem
}

/* Banner */

#banner {
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(/images/IMG_4330new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 12%
}

#banner h1 {
    font-family: 'Maiden Orange', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: white;
    margin: 0;
    text-transform: uppercase;
}
#banner h1 span {
    color: orange
}
.active {
  background-color: #717171;
}

.menu li {
    width: 70%;
    text-align: center
}
.container {
    display: flex;
    flex-wrap: wrap;
}

header h2, 
#nav ul li,
.box h3, .footer-item h3, .fence-item h3, article h3 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif
}

.box h3, .footer-item h3, .fence-item h3, article h3 {
    font-size: 2rem
}

.box p {
    font-family: 'Inria Serif', serif
}

.fence-item p, .footer-item p, .inner p, .links li {
    font-family: 'Inria Serif', serif
}

.footer-item p {
    font-size: 1rem !important
}

.inner h3 {
    margin: 0
}

.inner p {
    font-size: 1rem
}

.footer-item p {
 font-size: .8rem
}

#map {
    height: 400px; 
    width: 100%;  
   }

@media (max-width: 768px) {
    header h2 {
        font-size: 1.5rem
    }
    .logo {
        margin-bottom: 1rem
    }
}

@media (max-width: 425px) {
    .menu li {
        width: 98%
    }
    
}