html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke
}

/* Logo */

#nav img {
    margin-left: 4rem;
}

/* navigation */

.nav-item, .logo-cont > div {
    display: flex;
}

.nav-item {
    padding: .5rem;
    margin-right: 1rem
}

.nav-item i {
    font-size: 2rem;
    margin: auto 1rem;
    color: #eea825
}

.nav-item h4 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin-bottom: 0rem;
    font-size: 1.2em
}

.nav-item span {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1rem
}
.slider {
    height: 50vh !important;
}

.slides {
    width: 100% !important;
    height: 100% !important
}

.active {
  background-color: #717171;
}

.menu li {
    width: 70%;
    text-align: center
}
.container {
    display: flex;
    flex-wrap: wrap;
}

header h2, 
#nav ul li,
.box h3, .footer-item h3, .fence-item h3, article h3 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
}

.box h3, .footer-item h3, .fence-item h3, article h3 {
    font-size: 2rem;
    text-align: center;
}

.box p {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
}

/* card */
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: -2rem;
        z-index: 2;
        
    }
    .card {
        width: 25%;
        background-color: whitesmoke;
        z-index: 99;
        padding: 2%;
        margin-top: 0
    }
    .card h3 {
        margin: 7px 0;
        font-size: 1rem !important; 
        font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    }
    .card i {
        font-size: 1.8rem;
        margin-bottom: 1rem
    }
    .card p,
    .inner p {
        font-size: .9rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 175%;
    }

    /* Header */
    .type-container {
        text-align: center;
        margin: 5rem 0;
        font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    }

    /* Work Section */
    .work-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 6%;
        margin-bottom: 2rem
        
    }
    .inner {
        padding: 5%;
    }
    .work-item img {
         width: 100%;
         height: 200px
    }

.fence-item p, .footer-item p, .inner p, .links li {
    font-family: Arial, Helvetica, sans-serif;
}

.inner h4 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin: 5px 0 10px;
    font-weight: 200;
    font-size: 2rem
}

header a {
    margin-top: 1rem
}

.info-header {
    font-size: 2rem;
}

.button {
    margin-top: 1.5rem
}


@media (max-width: 768px) {
    #banner h1 {
        font-size: 3rem;
        margin-top: 2rem
    }
    header h2 {
        font-size: 1.5rem
    }
    .logo {
        margin-bottom: 1rem
    }
    .work-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media (max-width: 425px) {
    
    .card-container > div.card {
        margin-bottom: 1rem;
        margin-top: 0
    }
    .menu li {
        width: 98%
    }
    .work-container {
        display: block
    }
    #banner h1  {
        font-size: 2rem
    }
    
}