html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    background-color: whitesmoke
}

/* Logo */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5rem;
}
#nav img {
    margin-left: 4rem;
}

#logo {
    width: 70px;
    height: 70px
}

#estimate {
    margin-right: 2rem
}

/* navigation */

.nav-item,
.logo-cont>div {
    display: flex;
}

.nav-item {
    padding: .5rem;
    margin-right: 1rem
}

.nav-item i {
    font-size: 2rem;
    margin: auto 1rem;
    color: #eea825
}

.nav-item h4 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin-bottom: 0rem;
    font-size: 1.2em
}

.nav-item span {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1rem
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eea825;
    padding: .2rem
}

.navigation ul {
    margin-bottom: 2 !important;
}

.nav-links li a {
    color: white;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation ul li:hover {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation ul li a:hover {
    color: black !important
}


.main-container {
    display: flex;
    height: 35rem;
    background-image: url(../../images/gate2.JPG), linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.267));
    background-size: cover;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    -webkit-animation: kenburns-top 4s ease-in-out both;
    animation: kenburns-top 4s ease-in-out both;
}


.caption {
   text-align: center;
   
}

.caption h3 {
    color: white;
    font-size: 3rem;
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: .5rem;
    font-weight: 500;
    text-shadow: 2px 2px 3px black;

}


.active {
    background-color: #333;
}

.menu li {
    width: 70%;
    text-align: center
}


header h2,
#nav ul li,
.box h3,
.footer-item h3,
.fence-item h3,
article h3 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
}

.box h3,
article h3 {
    font-size: 2rem;
    text-align: center;
}

.box p {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
}

.caption h3 {
    font-weight: 500;
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif
}

/* card */
.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 2;
    margin-top: 5rem;
}

.card {
    width: 25%;
    background-color: #eea825 !important;
    color: white;
    z-index: 99;
    padding: 2%;
}


.card h3 {
    margin: 10px 0;
    font-size: 1.5rem !important;
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
}

.card i {
    font-size: 2.2rem;
    margin-bottom: 1rem
}

.card p,
.inner p {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 175%;
}

/* Header */
.type-container {
    text-align: center;
    margin: 5rem 0;
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
}

/* Work Section */
.work-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin: 2rem 5%;
    justify-content: center;
}

.work {
    width: 100%;
    height: 250px;
    perspective: 1000px;
    position: relative;
  }

  @media (max-width: 450px) {
    .work {
      margin-bottom: 1rem
    }
  }
    
  
  .work-front,
  .work-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s;
  }
  
  .work-front {
    z-index: 2;
  }
  
  .work-back {
    z-index: 1;
    transform: rotateY(-180deg);
  }
  .work:hover .work-front {
    transform: rotateY(180deg);
  }
  
  .work:hover .work-back {
    transform: rotateY(0deg);
  }
  
  .work img,
  .work-back,
  .work-front {
    width: 100%;
    height: 100%;
  }
  
  .work .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: rgb(126, 5, 126);
    color: #fff;
  }
  
  .work .description h5 {
    text-align: center;
    font-family: 'Roboto-Condensed', Helvetica, sans-serif;
}
  
  .work .description p {
    margin-top: 1rem;
    text-align: center;
  }


.fence-item p,
.inner p,
.links li {
    font-family: Arial, Helvetica, sans-serif;
}

.inner h4 {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    margin: 5px 0 10px;
    font-weight: 200;
    font-size: 2rem
}

header a {
    margin-top: 1rem
}

.info-header {
    font-size: 2rem;
}

.button {
    margin-top: 1.5rem
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    .card-container i {
        font-size: 1.5rem
    }

    .card-container h3 {
        font-size: 1.5rem
    }

    .card-container p {
        font-size: 1rem
    }

    .type-container h3, 
    .inner h4,
    .container,
    .footer-item h3
   {
        font-size: 2rem
    }

    #banner h1 {
        font-size: 3rem;
        margin-top: 2rem
    }

    header h2 {
        font-size: 1.5rem
    }

    .logo {
        margin-bottom: 1rem
    }

    .work-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 425px) {
    .card-container {
        display: block;
    }

    .card-container>div.card {
        margin: 0 auto 1rem;
        width: 90%;
        text-align: center;
        padding-top: 1.5rem
    }

    .info-header {
        font-size: 1.5rem
    }

    .menu li {
        width: 98%
    }

    .work-container {
        display: block
    }
    

    #banner h1 {
        font-size: 2rem
    }

}
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(.75) translateY(0);
              transform: scale(.75) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1) translateY(-15px);
              transform: scale(1) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(.75) translateY(0);
              transform: scale(.75) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1) translateY(-15px);
              transform: scale(1) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  